.profile{
    display: flex;
    align-items: center;
}

.photobutton{
    display: flex;
    flex-direction: column;
    
}

.info{
    margin-left: 40px;
}

button{ 
    
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 2em 0.3em 0;
    box-sizing: border-box;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    background-color: #4eb5f1;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
}

button:hover{
    color:#000000;
    background-color:#3d98cc;
}